.cars, .cars-list {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.cars-item {
    width: 300px;
    padding: 15px;
    border: 1px solid black;
}

.cars-img {
    max-width: 100%;
}

.cars-text {
    font-weight: 600;
}

#categories {
    list-style: none;
}

.task-title {
    text-align: center;
    margin-bottom: 30px;
    color: lightcoral;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    list-style: none;
}

.gallery-item {
    width: 30%;
    height: 300px;
    position: relative;
}

.gallery-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
}


.description{
   font-size: 18px;
}

.car-search {
    padding: 15px;
}


.car-search-form{
   text-align: center;
}

.fav-active {
    background-color: orange;
}

.red-square-btn{
margin-top: 20px;
margin-bottom: 20px;
}

.red-square{
    width: 100px;
    height: 100px;
    background-color: red;
}